<div class="home">
  <div class="home_background parallax-window" data-parallax="scroll"
    style="background-image:url(<%= asset_url "about_background.jpg" %>)">
  </div>
  <div class="home_content">
    <div class="home_title">about us</div>
  </div>
</div>

<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="intro_image">
          <%= link_to image_tag("intro.png", alt: "intro"), "#" %>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="intro_title">we have the best tours</div>
        <p class="intro_text">Travelix is an online website that support
          customers to create and manage each of enjoyful traveling. We have a
          lot of tours to suggest to customers. And you can find someone to
          travel with you easily.</p>
      </div>
    </div>
  </div>
</div>
