<% provide :title, t("about") %>
<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="intro_image">
          <%= link_to image_tag("intro.png", alt: "intro"), "#" %>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="intro_title"><%= t "intro_title" %> </div>
        <p class="intro_text"><%= t "about_content" %></p>
      </div>
    </div>
  </div>
</div>
