<% provide :title, t("title") %>
<% provide :button_text, t("title") %>
<div class="row" id="form-row">
  <div class="col-md-4 offset-md-4">
    <h1><%= "CreateTrip" %></h1>
    <%= render "form" %>
  </div>
</div>
