
<%= provide :title, @content %>

<% if @content == "plant" %>
  <div id="content-sidebar">
    <%= @trip.plant %>
  </div>
<% elsif @content == "expense" %>
  <div id="content-sidebar">
    <%= @trip.expense %>
  </div>
<% else %>
  <div id="content-sidebar">
    <ul>
    <% @notifications.each do |notification| %>
      <%= render notification %>
    <% end %>
  </ul>
  </div>
<% end %>


<footer>
