<div class="direct-chat-msg doted-border">
  <div class="direct-chat-info clearfix">
    <span class="direct-chat-name pull-left"><%= message.user.name %></span>
  </div>
  <%= image_tag image_url("http://bootsnipp.com/img/avatars/bcf1c0d13e5500875fdd5a7e8ad9752ee16e7462.jpg"), alt: "message user image", class: "direct-chat-img" %>
  <div class="direct-chat-text">
    <%= message.content %>
  </div>
  <div class="direct-chat-info clearfix">
    <span class="direct-chat-timestamp pull-right"><%= message.created_at %></span>
  </div>
</div>
