<% provide :title, t("edit_profile") %>
<% provide :button_text, t("update_button") %>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1><%= t "edit_profile" %></h1>
    <%= render "form" %>
  </div>
</div>
