<% provide :title, t("signup") %>
<% provide :button_text, t("button_text") %>
<div class="row" id="form-row">
  <div class="col-md-6 offset-md-3">
    <h1><%= t "signup" %></h1>
    <%= render "form" %>
  </div>
</div>
