<% if in_team? trip.searchable %>
  <div><%= link_to trip.searchable.name, trip.searchable %></div>
<% else %>
  <div>
  <%= trip.searchable.name %>
   <% if logged_in? %>
    <span class="col-md-2" id="send_request_button">
      <%= button_to t("send_request"),
        trip_participations_path(user_id: current_user.id,
        trip_id: trip.searchable.id,
        accepted: :send_request),
        disabled: trip.searchable.members.include?(current_user),
        class: "btn btn-primary" %>
    </span>
  <% end %>
  </div>
<% end %>
