<div class="col-md-2 col-8 offset-2 offset-md-0 profile-box border p-1
  rounded text-center mr-5 bg-light mb-2"
  id="form-row">
    <%= image_tag "review_1.jpg"%>
    <h5 class="m-0"><strong><%= user.name %></strong></h5>
    <p class="mb-2"><%= user.email %></p>
    <% if !@trip.members.include?(user) &&
      @trip.owner.is_user?(current_user) %>
      <%= button_to t("add_member"),
        trip_participations_path(user_id: user.id,
        trip_id: @trip.id,
        accepted: :join_in),
        class: "btn btn-primary" %>
    <% end %>
</div>
