<% provide :title, t("reviews") %>
<% provide :button_text, t("update_button") %>
<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <div class="blog_post_container">
      <%= render "form" %>
    </div>
  </div>
</div>
