<% provide :title, t("reviews") %>

<div class="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="blog_post_container">
          <%= render @reviews %>
        </div>
        <%= paginate @reviews, theme: "twitter-bootstrap-4" %>
      </div>

      <div class="col-lg-4 sidebar_col">
        <div class="sidebar_categories">
          <div class="sidebar_title"><%= t "tags" %></div>
          <div class="sidebar_tags">
            <% @top_hastags.each do |hastag| %>
              <span>
                <i class="fa fa-tag"></i>
                <b>
                  <%= link_to hastag.title,
                    hastag_path(title: hastag.title) %>
                </b>
              </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
